* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 300vh;
}

.div {
    height: 10rem;
    margin-bottom: 5rem;
}

.title {
    padding: 5rem;
    /*opacity: 0;
    transform: translateY(100px);*/
}

.bandeText {
    padding-bottom: 8rem;
    padding-top: 2rem;
    overflow: hidden;
}

.a {
    font-size: 50px;
    text-transform: uppercase;
}

.b {
    font-size: 50px;
    transform: translateX(-50%);
    text-transform: uppercase;
}

.infos {
    margin-bottom: 3rem;
}

.infos h3 {
    margin-left: 2rem;
}

.paragraphe {
    display: flex;
}

.paragraphe .text {
    width: 25%;
    padding: 2rem;
    transform: translateY(100px);
    opacity: 0;
}

.images {
    display: flex;
    overflow: hidden;
}

.images img {
    width: 33.3%;
    padding: 1rem;
}

.infoImg {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 10rem;
}

.infoImg p {
    width: 500px;
    background-color: rgba(24, 24, 24, 0.63);
    color: white;
    padding: 1rem;
    z-index: 1;
    margin-right: -10em;
}

.infoImg img {
    width: 40%;
}
