* {
    padding: 0;
    margin: 0;
    overscroll-behavior: none;
}

.orange {
    background-color: orange;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    overscroll-behavior: none;
    width: 400%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.container div {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 {
    background: silver;
}

.div2 {
    background: yellow;
}

.div3 {
    background: blueviolet;
}

.div4 {
    background: green;
}

.white {
    width: 100%;
    height: 100vh;
}