* {
    padding: 0;
    margin: 0;
    overscroll-behavior: none;
}

.container {
    overscroll-behavior: none;
    width: 500%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

div {
    height: 100vh;
    width: 100%;
}

.div1 {
    background: rgb(165, 0, 0);
}

.div2 {
    background: black;
}

.div3 {
    background: yellow;
}

.div4 {
    background: green;
}